<% layout("/layouts/boilerplate") %>
<body>
  <div class="outer-form">
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="POST"
      class="new-form needs-validation"
      novalidate
      enctype="multipart/form-data">
      <h2>Edit your listing</h2>
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required />
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please provide a valid title.</div>
      </div>

      <br /><br />
      <div class="mb-4">
        <label for="desscription" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id=""
          cols="30"
          rows="2"
          class="form-control"
          required>
<%= listing.description %> </textarea
        >
        <div class="invalid-feedback">Please provide a short description.</div>
      </div>
      <div class="mb-3">
        <img src="<%= originalImageUrl %>" alt="listing image" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="file"
          class="form-control"
          name="listing[image]"
          value="<%= listing.image.url %>" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            placeholder="1500"
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
            min="500"
            required />
          <div class="invalid-feedback">
            Please provide a valid price min 500.
          </div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="India"
            name="listing[country]"
            class="form-control"
            value="<%= listing.country %>"
            required />
          <div class="invalid-feedback">Please provide a valid country.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          placeholder="Hyderabad, Andhra Pradesh"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %>"
          required />
        <div class="invalid-feedback">Please provide a valid city.</div>
      </div>
      <br /><br />
      <button class="btn btn-dark btn-red">Submit</button>
    </form>
  </div>
</body>
